html {
    font-size: 10px;
}

body {
    
}

.etchContainer {
    display: flex;
    margin: auto;
    width: 64rem;
    height: 64rem;
    flex-wrap: wrap;
}

.etchCell {
    transition: all .5s;
}

