html {
    font-size: 10px;
    font-family: 'Indie Flower', cursive;
}

body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header header"
        ". etch options"
        "footer footer footer";
    justify-content: center;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(148, 148, 148, 1) 100%);
}

header {
    text-align: center;
    font-size: 6rem;
    grid-area: header;
    padding: 1.5rem 0;
    text-shadow: 0px 0px 14px rgba(255, 255, 255, 0.8);

}

.resetGrid {
    display: block;
    margin: 1rem auto;
    width: 12rem;
    height: 4rem;
    font-size: 2rem;
    border: none;
    background-color: white;
    transition: all .1s;
}

.resetGrid:hover {
    transform: scale(1.05);
    box-shadow: 3px 4px 6px 0px rgba(110, 110, 110, 1);
}

.resetGrid:active {
    background-color: rgb(187, 187, 187);
}

.resetGrid:focus {
    outline-width: 0;
}

.colorSelector {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    width: 10rem;
    height: 4rem;
    font-size: 1.75rem;
    font-family: Arial;
    margin: 0 auto 2rem auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    padding: 0;
    width: 3rem;
    height: 3rem;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type="color"]:focus {
    outline-width: 0;
}

input[type="color"]:hover {
    transform: scale(1.03);
}

.etchContainer {
    grid-area: etch;
    display: grid;
    margin: 0;
    width: 64rem;
    height: 64rem;
}

.etchCell {
    transition: all .3s;
    margin: 0;
    background-color: rgba(255, 255, 255, 1);
    border: solid 0px;
    flex: 1 1 auto;
}

.optionsContainer {
    grid-area: options;
    justify-self: left;
    margin-left: 2rem;
}

footer {
    grid-area: footer;  
    justify-self: center;
    font-size: 2rem;
    padding: 2rem 0;
}